<footer class="footer">
  <div class="box">
    <div class="container">
      <div>
        <div class="footer-title">Links</div>
        <ul class="links">
          <li><a target="_blank" href="https://twitter.com/peoplespunk">People's Punk Community</a></li>
          <li>
            <a target="_blank" href="https://www.lootproject.com/"
              >Loot Project</a
            >
          </li>
          <li>
            <p>Donate: <a href="https://etherscan.io/address/0xBeaB45c41e2d63CB85Ee27815733F56799BDef49" target="_blank">0xBeaB45c41e2d63CB85Ee27815733F56799BDef49</a></p>
          </li>
        </ul>
      </div>
      <div class="socials">
        <div class="container">
          <a href="https://twitter.com/starit1992" target="_blank">
            <img
              src="../../assets/socials/twitter.svg"
              alt="twitter link"
              class="social-item"
            />
          </a>
          <!-- <a href="https://www.medium.com/" target="_blank">
            <img
              src="../../assets/socials/medium.svg"
              alt="medium link"
              class="social-item"
            />
          </a> -->
          <!-- <a href="" target="_blank">
            <img
              src="../../assets/socials/gitBook.svg"
              alt="gitbook link"
              class="social-item"
            />
          </a> -->
          <a href="https://github.com/starit/loot-tools" target="_blank">
            <img
              src="../../assets/socials/gitHub.svg"
              alt="github link"
              class="social-item"
            />
          </a>
          <a href="https://discord.gg/B8J9pq4Suz" target="_blank">
            <img
              src="../../assets/socials/discord.svg"
              alt="discord link"
              class="social-item"
            />
          </a>
          <!-- <a href="https://t.me/" target="_blank">
            <img
              src="../../assets/socials/telegram.svg"
              alt="telegram link"
              class="social-item"
            />
          </a> -->
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="risk">This project is in beta. Use at your own risk.</div>
      Copyright LootTools 2021
    </div>
  </div>
</footer>
